        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Begleitprojekt zur Gedoplan aktuell
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Demos</h4>
                    </div>
                    <div class="panel-body">
                        <p>Alle Demos, Beispiele und weiterführende Inhalte zum <a href='http://gedoplan-it-consulting.de/veroeffentlichungen/gedoplan-aktuell/'>Gedoplan aktuell</a> Beitrag "Angular2"</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw  fa-rocket"></i> Angular2 v2.0.0-beta.7</h4>
                    </div>
                    <div class="panel-body">
                        <p>Das Projekt basiert auf einer Beta-Version von Angular2. Auch wenn es sich dabei schon um eine sehr ausgreifte Version handelt, kann es noch zu Änderungen der APIs kommen</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-cog"></i> Build Prozess</h4>
                    </div>
                    <div class="panel-body">
                        <p>Das Beispielprojekt nutzt für den Build Prozess gulp als Taskrunner Engine um die Entwicklung leichter zu machen und für den Live-Betrieb diverse Optimierungen an den Sourcen vor zu nehmen.</p>
                    </div>
                </div>
            </div>
        </div>